.mainHome{display:inline-flex; flex-direction:row; gap:12px;}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 12px;

  }
  
  .item {
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    border-style: double;
    border-width: 10px;
    border-color: #000068;
    border-radius: 5%;
  }

  .projectsBody {
      margin: 0;
      height: 100vh;
      font-weight: 100;
      background: #000068;
      /*-webkit-overflow-Y: hidden;*/
      /*-moz-overflow-Y: hidden;*/
      /*-o-overflow-Y: hidden;*/
      overflow-y: scroll;
      -webkit-animation: fadeIn 1 1s ease-out;
      -moz-animation: fadeIn 1 1s ease-out;
      -o-animation: fadeIn 1 1s ease-out;
      animation: fadeIn 1 1s ease-out;
  }

  .zUp {
      z-index: 11;
  }

.person__pic{
    z-index: 11;
    position: sticky;
    
}